body {
  color: #333333;
}

.wrapper {
  margin: auto;
  width: 300px;
  height: 175px;
  border: 1px dashed #EAEAEA;
  border-radius: 4px;
}

#canvas {
  width: 1200px;
  height: 700px;
  transform-origin: top left;
  transform: scale(0.25);
}

.inputs {
  margin: auto;
  margin-top: 20px;
  width: 302px;
}

#textInput {
  box-sizing: border-box;
  padding: 0 8px;
  width: 100%;
  height: 30px;
  line-height: 1;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

#textInput:focus {
  border-color: #385ACC;
  outline: none;
}